.addNews {
color: white;
    background-color: #F89938 !important;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    font-size: 15px;
    border: none;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 20px;
}

.modal-header {
    background-color: #669966;
}

label {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    color: #669966;
    font-weight: bolder;
    padding-top: 10px;
}

.news-intro{
    display: flex;
    justify-content: space-between;
      }

.news-img{
 height: 130px;
width: 130px;
padding-top: 10px;
padding-bottom: 20px;
}

.news-container-cards {
overflow-y: scroll;
}

.delete-news {
    color:white;
    background-color: #EE3C96;
    font-family: 'Raleway', sans-serif !important;
    margin-left: 15px;
    margin-right:  10px;
   }

   .edit-new {
    color:white;
    background-color: #F89938;
    font-family: 'Raleway', sans-serif !important;
   }


.close, .add, .cancel {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    background-color: #F89938 !important;
}
