/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Raleway:500|Rye&display=swap");

h1 {
    font-size: 50px;
    font-family: 'Rye', cursive;
    color: #663695;
    text-transform: lowercase;
    margin-left: 0.5em;
    padding-top: 0.5em;
  }


.main {
    background-color: #669966;
  }

/* Main Div Flex */
:root {
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.leftSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    height: 125vh;
}

.mainSection {
    border-style: none;
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.rightSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    height: 125vh;
}

.taskNews {
display: flex;
flex-direction: row;
align-content: center;
height: 75vh;
}

/* Components Border CSS */

.friends-container {
border-style: none;
border-radius: 0.6em;
background:white;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 50vw;
}

.messages-container {
    border-style: none;
border-radius: 0.6em;
background:white;
width: 25vw;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
}

.news-container {
    border-style: none;
    background: white;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 0.8em;
}

.tasks-container {
    border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  width: 50vw;
  flex-direction: column;
  margin-left: 1.6em;
  margin-top: 0.8em;
}

.events-container {
    border-style: none;
    border-radius: 0.6em;
    background:white;
    margin-top: 0.8em;
    margin-right: 1em;
   margin-bottom: 1em;
   width: 100%;
   height: 46vh;
  
  }

.tasks-container-cards {
    display: flex; 
}
/* .eventCardContainer {
    border-style: solid;
    border-color: black;
}

.eventFormContainer {
    border-style: solid;
    border-color: red;
}

.chatCardContainer {
    border-style: solid;
    border-color: black;
}

.chatFormContainer {
    border-style: solid;
    border-color: purple;
}

.taskCardContainer {
    border-style: solid;
    border-color: black;
}

.taskFormContainer {
    border-style: solid;
    border-color: green;
} */
