/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Raleway:500|Rye&display=swap");

h1 {
    font-size: 50px;
    font-family: 'Rye', cursive;
    color: #663695;
    margin-left: 0.5em;
    padding-top: 0.5em;
  }

h3 {
    font-family: 'Raleway', sans-serif;
    color: #663695;
    font-size: 30px;
    margin-left: 0.5em;
    font-weight: bolder;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #663695;
    font-size: 20px !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6 {
    font-size: 50px;
    font-family: 'Rye', cursive;
    color: #663695;
  }

.header {
    display: flex;
    align-content: left;
}
.btn btn-primary   {
    color: #663695;
}
.modal-title {
    font-size: 40px;
    font-family: 'Rye', cursive;
    color: white;
    margin-left: 0.5em;
    padding-top: 0.5em; 
}
p {
    font-family: 'Raleway', sans-serif;
    color: #663695;
    font-size: 20px;
    margin-left: 0.5em;
}
.main {
    background-color: #669966;
    z-index: -5;
  }

/* Main Div Flex */
:root {
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.welcome {
display: flex;
justify-content: space-between;
border-style: none;
border-radius: 0.6em;
background:#EE3C96;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 50vw;
box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
}

.leftSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    height: 125vh;
    flex-basis: 130px;
}

.mainSection {
    border-style: none;
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.rightSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    height: 125vh;
}

.taskNews {
display: flex;
flex-direction: row;
align-content: center;
height: 75vh;
}

/* Components Border CSS */

.friends-container {
border-style: none;
border-radius: 0.6em;
background:white;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 50vw;
box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
}

.messages-container {
border-style: none;
border-radius: 0.6em;
background:white;
width: 25vw;
margin-left: 1em;
margin-top: 0.8em;
margin-right: 1em;
margin-bottom: 1em;
width: 25vw;
box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
}

.news-container {
    border-style: none;
    background: white;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
}

.tasks-container {
 border-style: none;
  background: white;
  border-radius: 0.6em;
  display: flex;
  width: 50vw;
  flex-direction: column;
  margin-left: 1.6em;
  margin-top: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
}

.events-container {
    border-style: none;
    border-radius: 0.6em;
    background:white;
    margin-top: 0.8em;
    margin-right: 1em;
   margin-bottom: 1em;
   width: 100%;
   height: 46vh;
   box-shadow: 0 4px 8px 0 rgba(0.4,0.4,0.4,0.4);
  }

.tasks-container-cards {
    display: flex;
    border-style: none;
}

.welcomelogo {
    /* height: 190px; */
    /* width: 200px; */
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    }

/* .eventCardContainer {
    border-style: solid;
    border-color: black;
}

.eventFormContainer {
    border-style: solid;
    border-color: red;
}

.chatCardContainer {
    border-style: solid;
    border-color: black;
}

.chatFormContainer {
    border-style: solid;
    border-color: purple;
}

.taskCardContainer {
    border-style: solid;
    border-color: black;
}

.taskFormContainer {
    border-style: solid;
    border-color: green;
} */
