picture {
    display: flex;
    justify-content: left;
    width: 20px;
    margin-top: 10px;
  }

.logo {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: 10px;
}

  small {
    font-size: 75%;
  }

  .nav-link  {
  font-size: 30px;
    font-family: 'Rye', cursive;
    color: #663695;}
