.message-intro{
    display: flex;
    justify-content: space-between;
    }

    .message-img{
      height: 130px;
      width: 130px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .addMessage   {
      color: white;
    background-color: #F89938;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    font-size: 15px;
    border: none;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 20px;
    }

    .delete-message {
      color:white;
      background-color: #EE3C96;
      font-family: 'Raleway', sans-serif !important;
      margin-left: 15px;
      margin-right:  10px;
     }

     .edit-message {
      color:white;
      background-color: #F89938;
      font-family: 'Raleway', sans-serif !important;
     }

     .message-container-cards {
      overflow-y: scroll;
     }
    .close, .add, .cancel {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    background-color: #F89938 !important;
}
